@CHARSET "UTF-8";

	body{
		background: url("http://www.matcl.com/files/attach/images/2088292/680/424/002/love_will_shine_in_your_heart_by_puyo0702-d3dqikw.jpg") repeat;
	 }

	#form{
	   background: url("http://img22.mtime.cn/up/2011/02/25/051732.47437491_500.jpg");
		background-color:white;
		width :90%;
		height :570px;
		margin: 60px auto;
		}
	
	 .select{
        width:400px;
		 height:384px;
        position: absolute;
  		}
         
     .select-left{
        top: 40px;
        left: -115px;
        background: url("man.png") no-repeat;
     	}
        
      .select-right{
      	   top: 40px;
         left: 500px;
         background: url("girl.png") no-repeat;
         background-position: center;
         }

       #selectWrap{
          margin:0px 100px;
			height:350px;
			position: relative;
        }
         
       #footer {
 			text-align: center;
 		   font-family: monospace;
 		   font-size:larger;
 		   font-style: italic;
 		 
		}
		
		#logo{
		text-align: center;
		margin : 20px 0px 0px 0px;
		}
		
		#vs{
		
		width:120px;
		height:120px;
		top: -20px;
      	left: 345px;
		margin:200px auto;
		background: url("vs.png")no-repeat;       
		}
  
		#wrap{
		
		margin: 0px 50px;
		position: relative;
		}
		
		#table{
		
		width:100%;
		height:120px;
		}
		
		#selectBtn{
		height:80px;
		background-image: url("http://www.matcl.com/files/attach/images/2088292/323/832/004/0b123bcf1b4e934f9356c44e0909b071.jpg");
		font-size:200%;
		font-weight:bold;
		
		color:white;
		}
         
  		#number{
  		height:80%;
		background-image: url("http://www.matcl.com/files/attach/images/2088292/323/832/004/0b123bcf1b4e934f9356c44e0909b071.jpg");
		font-size:200%;
		font-weight:bold;
		
		color:white;
		}
		
		#content{
		height:120px;
		background-image: url("http://www.matcl.com/files/attach/images/2088292/323/832/004/0b123bcf1b4e934f9356c44e0909b071.jpg");
		font-size:200%;
		font-weight:bold;
		color:white;
		}
         